---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2015 09:49:22 GMT
      Ml:
      - S
      Status:
      - 403 Forbidden
      X-Connection-Hash:
      - 234efbb2c428cd21d79496250ec7292d
      X-Response-Time:
      - '8'
      X-Transaction:
      - 7f0c93ae76625a44
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":99,"message":"Unable to verify your credentials","label":"authenticity_token_error"}]}'
  recorded_at: Thu, 17 Dec 2015 09:49:22 GMT
recorded_with: VCR 3.0.0
