<% @my_tweets.each do |tweet| %>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item"><h6 class="my-tweets">Retweeted <%= tweet["retweet_count"] %> |
        <%= button_to tweet_path(tweet.id), method: :delete do %>
            <i class="glyphicon glyphicon-trash"></i></h6>
        <% end %></li>
      <li class="list-group-item"><%= tweet.text %></li>
    </ul>
  </div>
<% end %>
