---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=Justin%20Pease
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="8MtDo0rvuyCWrnZm1sYAq8CNZ", oauth_nonce="477fc5759e8e0c68eb36000b4185d29e",
        oauth_signature="b245XGycPaeYjhFxLzKuxNa1Eto%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450379000", oauth_token="338656919-WgC9e9ljkSWImJ6sBBI9wwkxXIoCGGsEJPtQHJi5",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2015 19:03:21 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - df3074b9e103b8774e63753c45205fb8
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '175'
      X-Rate-Limit-Reset:
      - '1450379100'
      X-Response-Time:
      - '34'
      X-Transaction:
      - 49c3be8c7ae18593
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Thu Dec 17 10:35:15 +0000 2015","id":677436890073575424,"id_str":"677436890073575424","text":"RT
        @josh_cheek: 20 most common types of Ruby syntax in Seeing Is Believing https:\/\/t.co\/aA06ZCbmWV","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":338656919,"id_str":"338656919","name":"Justin
        Pease","screen_name":"JustinPease","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":14,"friends_count":11,"listed_count":0,"created_at":"Tue
        Jul 19 22:14:19 +0000 2011","favourites_count":2,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":7,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/677217134007595008\/Ukunx3VR_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/677217134007595008\/Ukunx3VR_normal.jpg","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Wed
        Dec 16 18:48:45 +0000 2015","id":677198696237281280,"id_str":"677198696237281280","text":"20
        most common types of Ruby syntax in Seeing Is Believing https:\/\/t.co\/aA06ZCbmWV","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user"[...]
