---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 20 Dec 2015 23:05:06 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - ae5146ea2a863b8fc15e2d21c151d0b1
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1450653602'
      X-Response-Time:
      - '38'
      X-Transaction:
      - 869557410c1d2252
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":338656919,"id_str":"338656919","name":"Justin Pease","screen_name":"JustinPease","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":14,"friends_count":8,"listed_count":0,"created_at":"Tue
        Jul 19 22:14:19 +0000 2011","favourites_count":4,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":6,"lang":"en","status":{"created_at":"Thu
        Dec 17 21:01:29 +0000 2015","id":677594486499893252,"id_str":"677594486499893252","text":"RT
        @josh_cheek: There will come a day, when people get fed up JavaScript and
        make a language that doesn''t have to be compiled.","source":"\u003ca href=\"https:\/\/curious-tweets.herokuapp.com\/\"
        rel=\"nofollow\"\u003eCurious-Tweets-Production\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Wed
        Dec 16 09:19:01 +0000 2015","id":677055318426181632,"id_str":"677055318426181632","text":"There
        will come a day, when people get fed up JavaScript and make a language that
        doesn''t have to be compiled.","source":"\u003ca href=\"https:\/\/about.twitter.com\/products\/tweetdeck\"
        rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":1,"favorite_count":2,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":true,"lang":"en"},"retweet_count":1,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"josh_cheek","name":"Josh
        Cheek","id":65148180,"id_str":"65148180","indices":[3,14]}],"urls":[]},"favorited":false,"retweeted":true,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/677217134007595008\/Ukunx3VR_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/677217134007595008\/Ukunx3VR_normal.jpg","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Sun, 20 Dec 2015 23:05:06 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 20 Dec 2015 23:05:07 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 4caae1c2f0fde2bd234392c472380363
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1450653604'
      X-Response-Time:
      - '65'
      X-Transaction:
      - d6b6c35aa547d5ae
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Sun Dec 20 22:09:32 +0000 2015","id":678698774810636288,"id_str":"678698774810636288","text":"@josh_cheek
        Or fold the inside of a method (assuming foldmethod=manual): zfim\n\nI''d
        prefer zfam, but folding clobbers highlighting.","source":"\u003ca href=\"https:\/\/about.twitter.com\/products\/tweetdeck\"
        rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":678694657954463744,"in_reply_to_status_id_str":"678694657954463744","in_reply_to_user_id":65148180,"in_reply_to_user_id_str":"65148180","in_reply_to_screen_name":"josh_cheek","user":{"id":65148180,"id_str":"65148180","name":"Josh
        Cheek","screen_name":"josh_cheek","location":"Denver, CO","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":943,"friends_count":331,"listed_count":55,"created_at":"Wed
        Aug 12 20:20:43 +0000 2009","favourites_count":3315,"utc_offset":-25200,"time_zone":"Mountain
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":11474,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"352726","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme5\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme5\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/378800000788806183\/13694fcc19dee91ca43f25cb7ceb1202_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/378800000788806183\/13694fcc19dee91ca43f25cb7ceb1202_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/65148180\/1376372837","profile_link_color":"649954","profile_sidebar_border_color":"829D5E","profile_sidebar_fill_color":"99CC33","profile_text_color":"3E4415","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"josh_cheek","name":"Josh
        Cheek","id":65148180,"id_str":"65148180","indices":[0,11]}],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Sun
        Dec 20 21:53:10 +0000 2015","id":678694657954463744,"id_str":"678694657954463744","text":"The
        vim-ruby package has some pretty awesome text objects, such as `am` for \"around
        method\". So, [...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 20 Dec 2015 23:05:10 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 20 Dec 2015 23:05:10 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-wri[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/list.json?cursor=-1&user_id=338656919
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 20 Dec 2015 23:05:11 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - a0fca31fc6a1061ccca5e8fa68d76c48
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1450653611'
      X-Response-Time:
      - '48'
      X-Transaction:
      - 64f935a0342aebea
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":7899342,"id_str":"7899342","name":"Mike Dao","screen_name":"mikedao","location":"Carmen
        Sandiego","description":"Teacher at @turingschool. Cyclist. Pizza Core Team
        Member. There is nothing cooler than being proud of the things you love. :wq","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":1449,"friends_count":201,"listed_count":59,"created_at":"Thu
        Aug 02 04:28:44 +0000 2007","favourites_count":93,"utc_offset":-25200,"time_zone[...]
