---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="8MtDo0rvuyCWrnZm1sYAq8CNZ", oauth_nonce="22c7e27d042ace6968701ac346e0a623",
        oauth_signature="b4eitjERbkTAgh6uydUAn0pCo9k%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450378986", oauth_token="338656919-WgC9e9ljkSWImJ6sBBI9wwkxXIoCGGsEJPtQHJi5",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2015 19:03:06 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - b6dd4e3713bf6a1c40de43414da17569
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '12'
      X-Rate-Limit-Reset:
      - '1450379100'
      X-Response-Time:
      - '46'
      X-Transaction:
      - 07409fd0fc7831e1
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Thu Dec 17 17:49:25 +0000 2015","id":677546152376471552,"id_str":"677546152376471552","text":"RT
        @brittanystoroz: In honor of Star Wars, may all of your pushes to master be
        done with force.","source":"\u003ca href=\"http:\/\/tapbots.com\/software\/tweetbot\/mac\"
        rel=\"nofollow\"\u003eTweetbot for Mac\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":7899342,"id_str":"7899342","name":"Mike
        Dao","screen_name":"mikedao","location":"Carmen Sandiego","description":"Teacher
        at @turingschool. Cyclist. Pizza Core Team Member. There is nothing cooler
        than being proud of the things you love. :wq","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":1448,"friends_count":200,"listed_count":59,"created_at":"Thu
        Aug 02 04:28:44 +0000 2007","favourites_count":92,"utc_offset":-25200,"time_zone":"Mountain
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":51311,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme15\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme15\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/639481151422201856\/L_i0v5bd_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/639481151422201856\/L_i0v5bd_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/7899342\/1393989709","profile_link_color":"3B94D9","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Thu
        Dec 17 16:02:32 +0000 2015","id":677519255814975492,"id_str":"677519255814975492","text":"In
        honor of Star Wars, may all of your pushes to master be done with force.","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":19536396,"id_str":"19536396","name":".DS_Storoz","screen_name":"brittanystoroz","location":"secure
        shell","description":"I read. I write. I code. I grew up on Jackson Mills
        Road.","url":"http:\/\/t.co\/e3Kr5NptCq","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/e3Kr5NptCq","expanded_url":"http:\/\/github.com\/brittanystoroz","display_url":"github.com\/brittanystoroz","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":2351,"friends_count":932,"listed_count":131,"created_at":"Mon
        Jan 26 14:30:30 +0000 2009","favourites_count":9175,"utc_offset":-25200,"time_zone":"Mountain
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":6899,"lang":"en-gb","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/378800000054672390\/bdca821b84171d36d4ad692ad9c11742.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/378800000054672390\/bdca821b84171d36d4ad692ad9c11742.png","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/628336336567578625\/04qLnX2u_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/628336336567578625\/04qLnX2u_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/19536396\/1431435404","profile_link_color":"85959C","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"E3E3E3","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":41,"favorite_count":33,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},"is_quote_status":false,"retweet_count":41,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"brittanystoroz","name":".DS_Storoz","id":19536396,"id_str":"19536396","indices":[3,18]}],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Thu
        Dec 17 09:13:27 +0000 2015","id":677416304635023361,"id_str":"677416304635023361","text":"hi.  why
        am I up so late?","source":"\u003ca href=\"http:\/\/127.0.0.1:30[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=Justin%20Pease
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="8MtDo0rvuyCWrnZm1sYAq8CNZ", oauth_nonce="4a455aa680079c593dcbd72424731559",
        oauth_signature="Hh6bb46JzUMj%2Bt9OctK0b1eq5cI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450378987", oauth_token="338656919-WgC9e9ljkSWImJ6sBBI9wwkxXIoC[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="8MtDo0rvuyCWrnZm1sYAq8CNZ", oauth_nonce="fb70dddb4c434f918007580eb3d44e4f",
        oauth_signature="p1fo%2B1xq1yjCTv5%2BmSpXcFw%2F9oA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450378989", oauth_token="338656919-WgC9e9ljkSWImJ6sBBI9wwkxXIoCGGsEJPtQHJi5",
    [...]
[...]
