---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 20 Dec 2015 23:51:26 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - a054c5e00d4a6f622023af0da1b3ef90
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1450656386'
      X-Response-Time:
      - '35'
      X-Transaction:
      - 4c98f4b914f47512
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":338656919,"id_str":"338656919","name":"Justin Pease","screen_name":"JustinPease","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":14,"friends_count":7,"listed_count":0,"created_at":"Tue
        Jul 19 22:14:19 +0000 2011","favourites_count":4,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":7,"lang":"en","status":{"created_at":"Sun
        Dec 20 23:30:28 +0000 2015","id":678719142447349761,"id_str":"678719142447349761","text":"RT
        @josh_cheek: Vim should see macros as an atomic change so that you can use
        \".\" with them instead of the cumbersome \"@&lt;register&gt;\" followe\u2026","source":"\u003ca
        href=\"http:\/\/127.0.0.1:3000\" rel=\"nofollow\"\u003eCurious-Tweets\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Sun
        Dec 20 23:24:47 +0000 2015","id":678717715087933440,"id_str":"678717715087933440","text":"Vim
        should see macros as an atomic change so that you can use \".\" with them
        instead of the cumbersome \"@&lt;register&gt;\" followed by \"@@\"","source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":1,"favorite_count":2,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":true,"retweeted":true,"lang":"en"},"retweet_count":1,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"josh_cheek","name":"Josh
        Cheek","id":65148180,"id_str":"65148180","indices":[3,14]}],"urls":[]},"favorited":true,"retweeted":true,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/677217134007595008\/Ukunx3VR_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/677217134007595008\/Ukunx3VR_normal.jpg","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Sun, 20 Dec 2015 23:51:26 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 20 Dec 2015 23:51:26 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 0064ca2c87471327a48f662eaa316208
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1450656386'
      X-Response-Time:
      - '73'
      X-Transaction:
      - e52cf38c175b0942
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Sun Dec 20 23:24:47 +0000 2015","id":678717715087933440,"id_str":"678717715087933440","text":"Vim
        should see macros as an atomic change so that you can use \".\" with them
        instead of the cumbersome \"@&lt;register&gt;\" followed by \"@@\"","source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":65148180,"id_str":"65148180","name":"Josh
        Cheek","screen_name":"josh_cheek","location":"Denver, CO","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":943,"friends_count":331,"listed_count":55,"created_at":"Wed
        Aug 12 20:20:43 +0000 2009","favourites_count":3315,"utc_offset":-25200,"time_zone":"Mountain
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":11475,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"352726","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme5\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme5\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/378800000788806183\/13694fcc19dee91ca43f25cb7ceb1202_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/378800000788806183\/13694fcc19dee91ca43f25cb7ceb1202_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/65148180\/1376372837","profile_link_color":"649954","profile_sidebar_border_color":"829D5E","profile_sidebar_fill_color":"99CC33","profile_text_color":"3E4415","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":1,"favorite_count":2,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":true,"retweeted":true,"lang":"en"},{"created_at":"Sun
        Dec 20 23:24:07 +0000 2015","id":678717547458379781,"id_str":"678717547458379781","text":"Today
        is @Will_Faurot \u2019s Birthday.\n\nCelebrate accordingly.\n\nAnd responsibly.","source":"\u003ca
        href=\"http:\/\/tapbots.com\/software\/tweetbot\/mac\" rel=\"nofollow\"\u003eTweetbot
        for Mac\u[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 20 Dec 2015 23:51:26 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=this+is+a+tweet
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 20 Dec 2015 23:51:27 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 28489f8cb822b34275b6751c47489bbb
      X-Response-Time:
      - '80'
      X-Transaction:
      - 4ae1cc00a4817bda
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"Sun Dec 20 23:51:27 +0000 2015","id":678724424191729664,"id_str":"678724424191729664","text":"this
        is a tweet","source":"\u003ca href=\"http:\/\/127.0.0.1:3000\" rel=\"nofollow\"\u003eCurious-Tweets\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in[...]
[...]
