header {
  background-color: #337AB7;
  padding: 7px;
  margin-top: -43px;
  margin-bottom: 10px;
}

html {
  width: 100%
}

table {
  margin: 0 auto;
}

h3 {
  text-align: center;
}

.container {
  margin: 0 auto;
}

@media (min-width: 992px) {
.container {
    width: 100%;
  }
}

.navbar {
  background-color: #0084B4 !important
}

ul.nav.navbar-nav {
    width: 100%;
    color: white;
}

.log.btn.btn-default {
    position: absolute;
    top: 42px;
    right: 20px;
}

header h1 {
    color: white;
    font-weight: 100;
    letter-spacing: 10px;
    font-size: 32;
}

.my-tweets form.button_to {
    /* text-align: right; */
    float: right;
}

.profile-info {
    list-style-type: none;
    padding-left: 0px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 25px;
    color: inherit;
}

h1.panel-title {
    font-size: 32px;
}
/*ul.navbar_links {
    position: absolute;
    right: 40px;
    top: 12px;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 5px;
    list-style-type: none;
}*/
